name: Publish
on:
  pull_request:
    types: [closed]

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "Use NodeJS 16"
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: "Setup npm"
        run: |
          npm set "//registry.npmjs.org/:_authToken=${{ secrets.NPM_AUTOMATION_TOKEN }}"
      
      - name: "npm install"
        run: |
          npm i conventional-changelog-conventionalcommits@5.0.0 -g
          npm install
      
      - name: "Lerna Bootstrap"
        run: |
          npm run bootstrap
      
      - name: "Lerna Build"
        run: |
          npm run buildAffected

      - name: "Lerna Test"
        run: |
          npm run testAffected
      
      - name: "Lerna Version/Publish"
        env:
          GH_TOKEN: ${{ secrets.GB_AUTOMATION_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          
          npx lerna publish --conventional-commits --no-verify-access -y
